* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: max-content;
  margin: 1rem auto;
}

.typing-area {
  background-color: hsl(220, 30%, 40%);
  border: 0.5rem solid hsl(220, 30%, 20%);
  min-height: 10rem;
  padding: 1rem;
  font-size: 1.6rem;
  color: hsl(220, 50%, 90%);
  border-radius: 0.25rem;
}
